---
# tasks file for mablanco.antirootkits

- name: Antirootkits | antirootkits_mail_from should be defined
  assert:
    that:
    - antirootkits_mail_from is defined and antirootkits_mail_from != ''
    msg: "Set the value of 'antirootkits_mail_from' in either the inventory file or the playbook invoking this role."

- name: Antirootkits | antirootkits_mail_to should be defined
  assert:
    that:
    - antirootkits_mail_to is defined and antirootkits_mail_to != ''
    msg: "Set the value of 'antirootkits_mail_to' in either the inventory file or the playbook invoking this role."

- name: Antirootkits | install tools from Debian/Ubuntu repos
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
  - rkhunter
  - chkrootkit
  - unhide

- name: Antirootkits | rkhunter | enable cron scheduled runs
  lineinfile:
    dest: "/etc/default/rkhunter"
    regexp: "^CRON_DAILY_RUN="
    line: "CRON_DAILY_RUN=\"true\""
    state: present

- name: Antirootkits | rkhunter | enable weekly database updates
  lineinfile:
    dest: "/etc/default/rkhunter"
    regexp: "^CRON_DB_UPDATE="
    line: "CRON_DB_UPDATE=\"true\""
    state: present

- name: Antirootkits | rkhunter | setup receiver email address for reports
  lineinfile:
    dest: "/etc/default/rkhunter"
    regexp: "^REPORT_EMAIL="
    line: "REPORT_EMAIL=\"{{ antirootkits_mail_to }}\""
    state: present

- name: Antirootkits | rkhunter | enable receiver email address for warnings
  lineinfile:
    dest: "/etc/rkhunter.conf"
    regexp: "^#MAIL-ON-WARNING="
    line: "MAIL-ON-WARNING=\"{{ antirootkits_mail_to }}\""
    backrefs: yes
    state: present

- name: Antirootkits | rkhunter | remove void receiver email address for warnings (if present)
  lineinfile:
    dest: "/etc/rkhunter.conf"
    regexp: "^MAIL-ON-WARNING=\"\"$"
    state: absent

- name: Antirootkits | rkhunter | setup receiver email address for warnings
  lineinfile:
    dest: "/etc/rkhunter.conf"
    regexp: "^MAIL-ON-WARNING="
    line: "MAIL-ON-WARNING=\"{{ antirootkits_mail_to }}\""
    state: present

- name: Antirootkits | rkhunter | whitelist /dev/shm/network/ifstate
  lineinfile:
    dest: "/etc/rkhunter.conf"
    insertafter: "^#ALLOWDEVFILE="
    line: "ALLOWDEVFILE=\"/dev/shm/network/ifstate\""
    state: present

- name: Antirootkits | chkrootkit | enable daily scheduled runs
  lineinfile:
    dest: "/etc/chkrootkit.conf"
    regexp: "^RUN_DAILY="
    line: "RUN_DAILY=\"true\""
    state: present

- name: Antirootkits | Shell Detector | install tool
  get_url:
    dest: /usr/local/bin
    url: https://raw.github.com/emposha/Shell-Detector/master/shelldetect.py
    owner: root
    group: root
    mode: 0750

- name: Antirootkits | Shell Detector | create log directory
  file:
    path: /var/log/shelldetector
    mode: 0750
    owner: root
    group: root
    state: directory

- name: Antirootkits | Shell Detector | install cron job
  template:
    src: shelldetector.cron.j2
    dest: /usr/local/bin/shelldetector_cron.sh
    owner: root
    group: root
    mode: 0750

- name: Antirootkits | Shell Detector | creates daily cronjob
  cron:
    name: "Launch Shell Detector audit"
    hour: "{{ shelldetector_cron_hour }}"
    minute: "{{ shelldetector_cron_minute }}"
    weekday: "*"
    cron_file: "shelldetector"
    user: "root"
    job: "/usr/local/bin/shelldetector_cron.sh 2>&1 | logger"
